@model Edamam.Hit

<div class="col-sm-3 col-lg-3 col-md-3 text-center">
    <a asp-controller="Search" asp-action="Details" asp-id="@Model.Recipe.Id">
        <img alt="@Model.Recipe.Label" src="@Model.Recipe.Images.Small.Url" />
        <h4>@Model.Recipe.Label</h4>
    </a>
</div>
