@model DrinkListViewModel

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="search" class="form-control w-75" placeholder="Search on.." name="search" value="@ViewData["currentFilter"]" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>
<div class="row">
    @foreach (var drink in Model.Drinks)
    {
        <partial name="../Search/Partial/_DrinkListCard" model="drink" />
    }
</div>
@{

}