<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Beverage Buddy</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/lib/Site.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <h1 class="navbar-brand"><i class="fas fa-beer-mug-empty"></i> Beverage Buddy</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (User?.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Recipe" asp-action="Index">Favorite Recipes</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Recipe" asp-action="Create">Add Recipe to Favorites</a></li>
                        }
                        <li class="nav-item"><a class="nav-link" asp-controller="Search" asp-action="Index">All Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User?.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                        }
                        @if (User?.Identity != null)
                        {
                            <li class="nav-item">
                                <span class="text-white h6">@User.Identity.Name</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="container container-fluid body-content">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </section>
    <footer class="container">
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>
